/* Webfont: Circular-Medium */@font-face {
    font-family: 'CircularMedium';
    src: url('Circular-Medium.eot'); /* IE9 Compat Modes */
    src: url('Circular-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Circular-Medium.woff') format('woff'), /* Modern Browsers */
         url('Circular-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Circular-Medium.svg#Circular-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

