form {
  padding: 16px 0 32px;
}

input {
  border: 1px solid #C8C8C8;
    padding: 6.5px;
    font-family: 'CallingCode';
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.88px;
    line-height: 20px;
    outline: none;
    max-width: 360px;
    width: 100%;
}

